* {
    font-family: 'PT Serif', serif;
    background-color: bisque;
}
p, li {
    font-family: 'Montserrat', sans-serif;
    width: 52ch;
    font-size: 2vw;
    line-height: 1.5;
    margin: 0 .5vw;
}

h1 {
    font-size: 48px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 28px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}
#name {
    font-size:8vw;

}
#home, #alive {
    font-size:2vw;
}
